<%= link_to parent_view, premade_items_path, method: 'get', class: 'return-link' %>
<%= 'premade items' %>

<h3 style="text-align: center;">
  Premade Item( <%= @item.name %> )
  <%= link_to '[x]', premade_item_path( @item ), method: 'delete', data: { confirm: 'Are you sure you want to delete this item?' } %>
</h3><br>

<%= simple_form_for @item do |f| %>
  <p>
    <%= f.label 'Name*' %>
    <%= f.input :name, label: false, input_html: { class: "form-control" } %>
  </p>
  
  <p>
    <%= f.label "Unit*" %>
    <%= link_to list_unicode, unit_chart_path, method: 'get' %>
    <div class="input-group">
      <%= f.input :item_quantity, label: false, input_html: { class: 'form-control', placeholder: 'quantity' } %>

      <span class="input-group-addon"> &nbsp &nbsp</span>
      
      <%= f.input :unit, as: :select, collection: @valid_units, label: false, input_html: { class: 'form-control', placeholder: 'item unit' } %> 
    </div>
  </p>
  
  <p>
    <%= f.label "Stock" %>
    <%= f.input :stock, label: false, input_html: { class: "form-control" } %>
  </p>

  <p>
    <%= f.label "Components:" %>
    <%= f.collection_check_boxes( :inventory_item_ids, @inventory_items, :id, :name, :item_wrapper_class => 'checkbox_container' ) do | item | %>
      <div class="form-check">
        <%= item.check_box( class: "form-check-input", checked: @item.inventory_items.pluck( :name ).include?( item.object.name ) ) %>
        <%= item.label( class: "form-check-label" ) %>
      </div>
    <% end %>
  </p>

  <p style="float:right">
    <%= f.submit "Edit Item" %>
  </p>
<% end %>
