<%= link_to parent_view, premade_items_path, method: 'get', class: 'return-link' %>
<%= 'premade items' %>

<h3 style='text-align:center'>Add Premade Item</h3>

<%= simple_form_for @item do |f| %>
  <p>
    <%= f.label "Name*" %>
    <%= f.input :name, label: false, input_html: { class: "form-control" } %>
  </p>
  
  <p>
    <%= f.label "Unit*" %>
    <%= link_to list_unicode, unit_chart_path, method: 'get' %>
    <div class="input-group">
      <%= f.input :item_quantity, label: false, input_html: { class: 'form-control', placeholder: 'quantity' } %>

      <span class="input-group-addon"> &nbsp &nbsp</span>
      
      <%= f.input :unit, as: :select, collection: @units, label: false, input_html: { class: 'form-control', placeholder: 'item unit' } %> 
    </div>
  </p>
  
  <p>
    <%= f.label 'Type*' %>
    <%= f.input :item_type, label: false, input_html: { type: 'text', list: 'types', autocomplete: 'off', class: 'form-control', value: 'Ingredient' } %>
    <datalist id="types">
      <% @types.each do | type | %>
        <option><%= type %></option>
      <% end %>
    </datalist>
  </p><br>
  
  <p>
    <%= f.label "Components:" %>
    <%= f.collection_check_boxes( :inventory_item_ids, @inventory_items, :id, :name, :item_wrapper_class => 'checkbox_container' ) do | item | %>
      <div class="form-check">
        <%= item.check_box( class: "form-check-input", checked: @item.inventory_items.pluck( :name ).include?( item.object.name ) ) %>
        <%= item.label( class: "form-check-label" ) %>
      </div>
    <% end %>
  </p>

  <p style="float:right">
    <%= f.submit "Submit" %>
  </p>
<% end %>

<%# creates a premade_item with its composition( inventory_items ) %>
