<%= render 'nav_tabs' %>

<table class = 'table'>
  
  <thead>
    <tr>
      <th>
        Items
        <%= link_to '[+]', branch_inventories_path( list: true ), method: 'get' %>
      </th>
      
      <th>
        Stock
        <%= link_to pen_edit_unicode, edit_individual_branch_inventory_items_path, method: 'post' %>
      </th>
    </tr>
  </thead>
  
  <% @branch_inventory_items.each do | join | %>
    <% item = InventoryItem.find( join.inventory_item_id ) %>
  
    <tbody>
      <tr>
        <td>
          <%= link_to item.name, edit_branch_inventory_path( join ), method: 'get' %>
        </td>

        <td>
          <%= inventory_stock_of( join, true ) %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
