<h3><%= @branch.name %> Inventory Items</h3>

<%= simple_form_for @branch, url: branch_inventory_update_path( @branch ), method:'post' do |f| %>
  <p>
    <%= f.collection_check_boxes( :inventory_item_ids, @items, :id, :name, :item_wrapper_class => 'checkbox_container' ) do | item | %>
      <div class="form-check">
        <%= item.check_box( class: "form-check-input", checked: @active_items.include?( item.object.name ) ) %>
        <%= item.label( class: "form-check-label" ) %>
      </div>
    <% end %>
  </p>

  <p style="float:right">
    <%= f.submit "Update Branch Inventory Items" %>
  </p>
<% end %><br><br>
