<h3><%= @branch.name %> Products</h3>

<%= simple_form_for @branch, url: branch_products_update_path( @branch ), method:'post' do |f| %>
  <p>
    <%= f.collection_check_boxes( :product_ids, @products, :id, :name, :item_wrapper_class => 'checkbox_container' ) do | prod | %>
      <div class="form-check">
        <%= prod.check_box( class: "form-check-input", checked: @active_products.include?( prod.object.name ) ) %>
        <%= prod.label( class: "form-check-label" ) %>
      </div>
    <% end %>
  </p>

  <p style="float:right">
    <%= f.submit "Update Branch Products" %>
  </p>
<% end %><br><br>
