<%= link_to parent_view, inventory_items_path, method: 'get', class: 'return-link' %>
<%= 'market items' %>

<h3 style="text-align:center">
  Market item( <%= @item.name %> )
  <%= link_to '[X]', inventory_item_path( @item ), method: 'delete',  data: { confirm: "Are you sure you want to delete #{ @item.name }" } %>
</h3><br>

<%= simple_form_for @item do |f| %>
  <p>
    <%= f.label 'Item*' %>
    <%= f.input :name, label: false, input_html: { class: "form-control" } %>
  </p>

  <p>
    <%= f.label 'Price*' %>
    <div class="input-group">
      <%= f.input :market_price, label: false, input_html: { class: "form-control", placeholder: 'market price' } %>
      
      <span class="input-group-addon"> &nbsp Per &nbsp</span>
      
      <%= f.input :item_quantity, label: false, input_html: { class: "form-control", placeholder: 'item quantity' } %>&nbsp&nbsp

      <%= f.input :unit, as: :select, collection: @valid_units, label: false, input_html: { type: 'text', list: 'units', class: 'form-control', placeholder: 'item unit' } %>

      <span class="input-group-addon"> &nbsp &nbsp</span>
      
      <%= f.input :unit_note, label: false, input_html: { placeholder: 'unit note', style: 'height: 38px' } %>
    </div>
  </p>

  <p>
    <%= f.label 'Type*' %>
    <%= f.input :item_type, label: false, input_html: { type: 'text', list: 'types', autocomplete: 'off', class: 'form-control' } %>
    <datalist id="types">
      <% @types.each do | type | %>
        <option><%= type %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <%= f.label 'Current Stock' %>
    <%= f.input :stock, label: false, input_html: { class: "form-control" } %>
  </p><br>

  <p style="float:right">
    <%= f.submit "Edit Item" %>
  </p>
<% end %>
