<h3>Add Inventory item</h3><br>

<%= simple_form_for @item do |f| %>
  <p>
    <%= f.label 'Item' %>
    <%= f.input :name, label: false, input_html: { class: "form-control" } %>
  </p>
  
  <p>
    <%= f.label 'Type' %>
    <%= f.input :item_type, label: false, input_html: { type: 'text', list: 'types', class: 'form-control' } %>
    <datalist id="types">
      <% @types.each do | type | %>
        <option><%= type %></option>
      <% end %>
    </datalist>
  </p>
  
  <p>
    <%= f.label 'Unit' %>
    <%= f.input :unit, label: false, input_html: { type: 'text', list: 'units', class: 'form-control' } %>
    <datalist id="units">
      <% @units.each do | unit | %>
        <option><%= unit %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <%= f.label 'Sale Deducted?' %>
    <%= f.input :sale_deduction, as: :select, label: false, input_html: { class: "form-control" } %>
  </p>

  <p style="float:right">
    <%= f.submit "Add Item" %>
  </p>
<% end %>

