<h3 style="text-align: center;">
  Edit <%= @branch_item.premade_item.name %>
</h3>

<%= simple_form_for @branch_item do |f| %>
  <%= f.label 'Stock' %>
  <div class="input-group">
    <%= f.input :stock, label: false, input_html: { class: "form-control" } %>&nbsp
    
    <%= @branch_item.premade_item.unit %>
  </div><br>
  
  <%= f.label 'Margin' %>
  <div class="input-group">
    <%= f.input :margin, label: false, input_html: { class: "form-control" } %>&nbsp

    <%= @branch_item.premade_item.unit %>
  </div>

  <p style="float:right">
    <%= f.submit "Submit" %>
  </p>
<% end %>
