<tr>
  <td style="width: 5%;">
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to '[X]', '#', class: 'remove_record' %>
  </td>
  
  <td style="width:72%; padding-right:50px">
    <%#= f.collection_select(:premade_item_id, premadeItem.all, :id, :name, { include_blank: true }, class: "content-search", id: item_id ) %>
    <%= f.input :premade_item_id,
                label: false,
                as: :grouped_select,
                collection: type_groupings_of( @items ),
                input_html: {id: identifier, class: 'content-search', style: 'width:100%', data: { item_class: @item_class }}, #adding unique id allows multiple select2 with one class
                group_method: :last %><br>
  </td>

  <td style="height: 10px;">
    <%= f.input :quantity, label: false, input_html: { class: 'form-control', id: 'quant-' + identifier.to_s, style: 'height: 29px; width:50%; float:right' } %>
  </td>

  <td>
    <em class = "unit-measures" id=<%= "unit-" + identifier.to_s %> style="float:right"></em>
  </td>
</tr>
