<%= simple_form_for( @transfer ) do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag( :item_class, @item_class ) %>
  
  <div>
    <%= f.input :note, label: false, input_html: { class: 'form-control ', style:'width: 30%; height: 20px' }, placeholder: 'Add note here...'%>
  </div>
  
  <table class='table'>
    
    <caption id='caption'>
      Transfer
      <%= @item_class.titleize %>
      to
      <%= branch_name_of( @transfer_branch ) %>
      <hr>
    </caption>
    
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody class='fields'>
      <%= add_row( f, @item_class ) %>
    </tbody>
  </table>

  <div class="form-actions">
    <div id="new_item" style="float: left;">
      <%= link_to_add_row( 'Add Item', f, @item_class, class: 'btn btn-primary') %>
    </div>
    
    <div style="float: right;">
      <%= f.button( :submit, class: 'btn btn-primary btn-success', data: { confirm: "Are you sure you want to send these items to #{ branch_name_of( @transfer_branch ) }"}) %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'item_transfer', 'data-turbolinks-track' => false %>
